.table {
    display: table;
    width: 100%;
    padding: 8px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

.code {
    font-style: italic;
}

.color-detail {
    color: #f7941e;
}

.color-detail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.confirm-status {
    color: gray;
    font-weight: bold;
}

.delivery-status {
    color: #0bd461;
    font-weight: bold;
}

.success-status {
    color: #0a68ff;
    font-weight: bold;
}

.cancel-status {
    color: #ff0000;
    font-weight: bold;
}